In [ ]:
import sqlite3


conn = sqlite3.connect('star_trek.db')
cursor = conn.cursor()


cursor.execute('''
CREATE TABLE IF NOT EXISTS Roster (
    Name TEXT,
    Species TEXT,
    Age INTEGER
)
''')


cursor.executemany('''
INSERT INTO Roster (Name, Species, Age) VALUES (?, ?, ?)
''', [
    ('Benjamin Sisko', 'Human', 40),
    ('Jadzia Dax', 'Trill', 300),
    ('Kira Nerys', 'Bajoran', 29)
])


conn.commit()

# 3. Jadzia Dax nomini Ezri Dax ga o'zgartirish
cursor.execute('''
UPDATE Roster
SET Name = 'Ezri Dax'
WHERE Name = 'Jadzia Dax'
''')


conn.commit()

# 4. Bajoran turiga bo'lgan shaxslarning ismi va yoshini ko'rsat
cursor.execute('''
SELECT Name, Age FROM Roster WHERE Species = 'Bajoran'
''')


bajoran_people = cursor.fetchall()


print("Bajoran turiga mansub shaxslar:")
for person in bajoran_people:
    print(f"Ism: {person[0]}, Yosh: {person[1]}")


conn.close()